.App {
    text-align: center;
}

.App-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    background-color: #ffffff;
    color: black;
}


/* Table style */
.Table-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    perspective: 1000px;
    z-index: 1;
}

.Table {
    animation: Table-animation .35s linear;
    background: linear-gradient(180deg, #3A85F5, #215EF2);
    color: white;
    height: 100vh;
    width: 100%;
}

.Table {
    animation: Table-hover-animation .1s linear;
}

.Table {
    animation: Table-animation .35s linear;
    background: linear-gradient(180deg, #3A85F5, #215EF2);
    color: white;
    height: 100vh;
    width: 100%;
}

@keyframes Table-animation {
    from {
        width: 10rem;
        height: 2rem;
        border-radius: 2rem;
    }
    to {
        transform: rotateY(180deg);
        background: linear-gradient(180deg, #3c86f4, #215EF2);
    }
}

@keyframes Table-active-animation {
     from {
         animation: Table-active-animation .35s linear;
         background: linear-gradient(180deg, #3c86f4, #215EF2);
         color: white;
         height: 100vh;
         width: 100%;
     }
     to {
         animation: Table-active-animation .35s linear;
         background: linear-gradient(180deg, #3465c8, #2050bc);
         color: white;
         height: 95vh;
         width: 98.725%;
     }
 }

/* Button style */
.App-button {
    font-size: .8rem;
    font-weight: 700;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    color: white;
    background: linear-gradient(180deg, #3580f2, #1851ed);
}

.App-button:hover {
    animation: Button-bounce .35s ease-in-out;
    -webkit-transform: translate(-3px, -3px);
    -moz-transform: translate(-3px, -3px);
    -ms-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px lightgrey;
}

.App-button:active {
    -webkit-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 5px lightgrey;
    background: #1546c3;
}

.App-button:focus {
    outline: none;
}

@keyframes Button-bounce {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    80% {
        -webkit-transform: translate(-5px, -5px);
        -ms-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px)
    }
    100% {
        -webkit-transform: translate(-3px, -3px);
        -ms-transform: translate(-3px, -3px);
        transform: translate(-3px, -3px);
    }
}

/* Box style */
.box {
    animation: Box-animation .25s linear;
    background: #c6c5c6;
    border: 0;
    border-radius: 3px;
    float: left;
    width: 400px;
    height: 90px;
}

@keyframes Box-animation {
    0% {
        width: 0;
        height: 0;
        -ms-transform: translate(300px,145px);
        -webkit-transform: translate(300px,145px);
        -o-transform: translate(300px,145px);
        -moz-transform: translate(300px,145px);
        transform: translate(300px,145px);
    }
    100% {
        width: 400px;
        height: 90px;
        -ms-transform: translate(100px,100px);
        -webkit-transform: translate(100px,100px);
        -o-transform: translate(100px,100px);
        -moz-transform: translate(100px,100px);
        transform: translate(100px,100px);
    }
}
